.footer {
  background-color: #1f1f1f;
  margin-top: 20px;
  padding: 20px 0;

  & .footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & p {
      color: var(--cor-texto);
    }
  }
}

@media (max-width: 500px) {
  .footer-container {
    flex-direction: column;
    gap: 10px;
  }
}
