.hero {
  display: flex;
}

.textHero,
.imgHero {
  flex: 1;
}

.textHero {
  & h1 {
    font-family: "Calistoga", "Times New Roman", Times, serif;
    font-size: 4rem;
    line-height: 1.1;
    font-weight: 400;
    margin: 64px 0 16px 0;
  }

  & p {
    max-width: 70%;
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 64px;
  }
}

.imgHero {
  max-height: 300px;
}

@media (max-width: 1120px) {
  .textHero h1 {
    font-size: 3.5rem;
    margin-top: 0px;
  }
}

@media (max-width: 820px) {
  .hero {
    flex-direction: column;
  }

  .textHero {
    text-align: center;

    & p {
      max-width: 80%;
      margin: 0 auto 20px auto;
    }
  }

  .imgHero {
    max-width: 400px;
    margin: 40px auto;
  }
}

@media (max-width: 500px) {
  .textHero {
    & h1 {
      font-size: 2.4rem;
    }

    & p {
      max-width: 95%;
    }
  }

  .imgHero {
    max-width: 300px;
  }
}
