.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin: 40px 0;
}

.product-item {
  display: block;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  background-color: #1f1f1f;

  & .warning {
    position: absolute;
    top: 50px;
    left: 30px;
    background-color: var(--cor-realce);
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 4px;
  }

  & .photo {
    text-align: center;
    background-color: #2b2b2b;
    padding-top: 60px;
  }

  & .info{
    background-color: #1f1f1f;
    padding: 60px 30px 30px 30px;
    margin-top: -30px;
  }
}
