.search {
  background-color: #1f1f1f;
  padding: 80px 0;
  margin-top: -120px;

  & .search-title {
    font-size: 2rem;
    font-weight: 500;
  }

  & .search-side {
    display: flex;
    gap: 100px;
    margin-top: 30px;

    & .leftside,
    & .rightside {
      flex: 1;
    }

    & input,
    select {
      width: 100%;
      background-color: #2b2b2b;
      color: var(--cor-texto);
      font-size: 1.2rem;
      outline: none;
      padding: 20px;
      border: none;
      border-radius: 4px;
    }

    & input {
      background-image: url(../img/searchIcon.png);
      background-repeat: no-repeat;
      background-position: 20px center;
      padding-left: 60px;
    }

    & select {
      border-right: 20px solid transparent;
    }
  }
}

@media (max-width: 820px) {
  .search {
    padding: 60px 0;
    text-align: center;

    & .search-title {
      font-size: 1.5rem;
    }

    & .search-side {
      flex-direction: column-reverse;
      gap: 10px;
      max-width: 80%;
      margin: 20px auto;
    }
  }
}

@media (max-width: 500px) {
  .search .search-title {
    font-size: 1.2rem;
  }

  & .search-side {
    max-width: 100% !important;
  }
}
